@charset "utf-8";
/* CSS Document */

#calendar {
    display: flex;
    flex-wrap: wrap;
}

div#calendar section {
    margin: 10px;
}

div#calendar h1 {
    font-size: 18px;
}

div table {
    border-spacing: 0;
    border-collapse: collapse;
	width: 100%;
}

div#calendar td {
    padding: 5px;
    text-align: center;
}

div#calendar td div {
	width: 30px;
	height: 30px;	
	border-radius: 15px;
}

div#calendar td:first-child {
    color: red;
}

div#calendar td:last-child {
    color: royalblue;
}

div#calendar td.is-disabled {
    color: #ccc;
}