@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@keyframes load{0%{stroke-dashoffset:0}}

* { 
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}

.logo {
  width: 160px;
}

.navi {
  list-style-type: none;
  display: flex;
  font-size: 11px;
  text-transform: uppercase;
  padding-bottom: none;
  margin-right: 30px
}

.head-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0px;
  border-bottom: 2px solid #d9d9d9;
}

.body-main {
  margin: 0px;
  background-color: #f8f8f8;
}

.icon {
  width: 30px;
  margin: 8px;
}

article {
  width: 68%;
}

aside {
  width: 28%
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 85vh;
}

.submit {
  height: 50%;
  border-bottom: 2px solid #d9d9d9;
}

.achive {
  height: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px dashed #d9d9d9;
}

.tasks {
	background-color: #f8f8f8;
	/*border: solid 0.5px #00005d;*/
	float: left;
	min-height: 55px;
	max-height: 80vh;
	padding: 10px;
}

#left_tasks {
  width: 62vw;
  margin-left: 3vw;

}

#right_tasks {
  margin-left: 1vw;
  width: 24vw;
}

.elem {
  background-color: #FFF;
  border: 1px solid #99C;
  font-size: 20px;
  line-height: 48px;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 3px 10px;
  min-height: 50px;
  width: 60vw;
  max-width: 70vw;
  display: table;
  justify-content: space-around;
  vertical-align: middle;
}

.on_tasks {
  background-color: #EEF;
  list-style-type: none;
  margin-bottom: 5px;
  height: 50px;
}

.elem_move {
  background-color: #EEF;
  border: 2px dotted #0000ff;
  max-width: 100px;
  height: 100px;
}

.subject {
  margin: 0 15px;
  letter-spacing: 8px;
  vertical-align: middle;
  display: table-cell;
}

.open {
  display: table-cell;
  padding: 0px 1em;
  margin: 2px;
  width: 56px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.acc-container {
  margin:30px auto 0 auto;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  overflow: hidden;
}

.acc-btn { 
	background-color: #ffffff;
	margin:0 auto;
	padding:5px 10px;
	cursor:pointer;
	border:2px solid #7acbe1;
	border-radius:8px;
}

.active {
	margin:0 auto;
	padding:5px 10px;
	cursor:pointer;
	background:#ffffff;
	border:solid #7acbe1;
	border-width: 2px 2px 1px;
	border-radius: 8px 8px 0px 0px;
}

.acc-content {
	width:100%;
	margin:0 auto;
	display: none;
	background:#ffffff;
	padding:30px;
	height: auto;
	border: solid #7abce1;
	border-width: 0px 2px 2px;
	border-radius: 0px 0px 8px 8px;
}
.sub-name {
	color: #34495E;
	font-size: 20px;
	font-weight: 550;
	letter-spacing: 5px;
	margin-left: 15px;
}


.acc-group {
	padding-bottom: 5px;
}

.file-path {
	font-size: 12px;
	color: #b4c1d1;
	margin-left: 15px;
}

.deadline {
	font-size: 16px;
	color: #b4c1d1;
	margin-left: 5px;
}

.func {
	width: 80px;
	margin: 8px 20px;
}

.task-func {
	display: flex;
	justify-content: space-around;
	height: 100px;
}

.func-around {
	border: solid #74EDBE 1px;
	border-radius: 8px;
}
